<router-outlet></router-outlet>

<div class="anton-modal" *ngIf="currentModal">
  <div class="dialog">
    <button class="anton-button icon close" (click)="closeModal()">
      <ng-icon name="jam-close"></ng-icon>
    </button>
    <ng-template [ngTemplateOutlet]="currentModal"></ng-template>
  </div>
  <div class="backdrop" (click)="closeModal()"></div>
</div>

<ng-template #cropImage>
  <div class="image-cropper-container">
  </div>
  <div class="flex-row">
    <app-button>
      <ng-icon name="jam-pencil"></ng-icon>
      <span>Edit</span>
    </app-button>
  </div>
</ng-template>

