<div class="container">
  <h1 i18n>Anton wallets login</h1>
  <h5 i18n>Welcome back colleague! Login with to check your journey’s status</h5>
  <div class="forms">
    <!--app-auth-methods [currentMethod]="currentMethod"></app-auth-methods-->
    <router-outlet (activate)="onMountChild($event)"></router-outlet>
  </div>
  <div class="google-btn mt-20px">
    <a [href]="cognitoUrl + '/oauth2/authorize?identity_provider=Google&redirect_uri=' + location.origin  + '/auth/verify-fallback&response_type=CODE&client_id='+environment.cognitoAppClientId+'&scope=email openid profile'">
      <div class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
      </div>
      <p class="btn-text"><b>Sign in with google</b></p>
    </a>
  </div>
  <a class="primary mt-10px" [routerLink]="['/auth', 'recover']" [queryParams]="{user: email}" i18n>Forgot password?</a>
  <a class="primary" i18n [routerLink]="['/auth', 'register']">Signup here!</a>
</div>
