<div class="container">
  <div class="steps">
    <h2 i18n>Connect with your wallet</h2>
      <div class="step">

      </div>
      <div class="step">

      </div>
      <div class="step">
        <form>
          <div>
            <label i18n>API Key</label>
            <input type="text" class="anton-input" />
          </div>
          <div>
            <label i18n>Secret Key</label>
            <input type="text" class="anton-input" />
          </div>
          <button class="anton-button primary" i18n>Start!</button>
        </form>
      </div>

  </div>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gs8qCuZ7Xac" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
</div>
