<form [formGroup]="form" class="new-password-required" (submit)="changePassword()" *ngIf="!success">
  <h1>Email verified!</h1>
  <h4 class="mt-10px">Now you can choose your password</h4>
  <div class="flex-column">
    <input type="type" formControlName="email" class="anton-input mt-10px" i18n-placeholder placeholder="Email" />
    <input type="password" formControlName="newPassword" class="anton-input mt-10px" i18n-placeholder placeholder="Password" />
  </div>
  <div class="alert warn mt-10px" i18n>
    Note that password must be at least with 10 characters with lowercase, uppercase and special characters
  </div>
  <div class="alert danger mt-10px" *ngIf="error">{{error}}</div>
  <div class="mt-10px">
    <app-button [loading]="loading" i18n>
      Change password
    </app-button>
  </div>
</form>
<div *ngIf="success">
  <h1 i18n>You are ready!</h1>
  <p i18n>You will be redirect soon</p>
</div>
