<div class="dialog">
  <h2 i18n>Resetting your statistics</h2>
  <p i18n>You are changing your budget, so you will start a new invements sessions, so your earnings charts and the counter will be reset.</p>
  <p i18n>Do you confirm that?</p>
  <div *ngIf="error" class="alert danger">
    {{error}}
  </div>
  <div class="flex-row end mt-10px">
    <div class="flex-row between" style="width: 200px">
      <button class="anton-button" [routerLink]="['/']">
        No
      </button>
      <app-button i18n (click)="submitWallet()" [loading]="loading">
        Yes, change it!
      </app-button>
    </div>
  </div>
</div>
