.container {
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  padding: 35px;
  background: #fff;
}

.success-message {
  text-align: center;
}

a {
  display: block;
}
