@import "../../../styles/palette";

.container {
  height: 100%;
  min-height: 85vh;
  padding: 25px;

}
.card-plain {
  background: $background-color;
  flex: 1;
}

ng-icon.settings-icon {
  font-size: 30px;
}

.wallet {
  background-color: $background-color;
  background-position: center;
  background-size: 100% 100%;
  height: 400px;
  width: 350px;
  flex: 1;
  &.binance {
    background-image: url("/assets/waves-binance.png");
  }
  &.new {
    background-image: url("/assets/waves-new-wallet.png");
  }
}
