<div class="flex-row mt-20px between">
  <div class="flex-row">
    <ng-icon class="settings-icon" name="jam-cogs"></ng-icon>
    <h1 i18n>Account Settings</h1>
  </div>
  <button class="anton-button link-button change-credentials primary" [routerLink]="['/settings']" [queryParams]="{modal: 'setCredentials'}">
    <ng-icon name="jam-plus"></ng-icon>
    <span i18n>Add a new wallet</span>
  </button>
</div>

<div class="flex-row mt-20px mobile-flex-column" style="gap: 15px">
  <div class="card-plain wallet binance">
    <div class="mt-10px mobile-flex-column between">
      <img src="/assets/binance-logo.png" style="width: 200px">
      <div class="mt-10px">
        <h2 i18n>Access Key: </h2><span>{{obfuscate(wallet?.accessKey)}}</span>
        <h2 i18n>Secret Key: </h2><span>{{obfuscate(wallet?.secretKey)}}</span>
        <button class="anton-button link-button change-credentials primary" [routerLink]="['/settings']" [queryParams]="{modal: 'setCredentials'}">
          <ng-icon name="jam-pencil"></ng-icon>
          <span i18n>Change Keys</span>
        </button>
      </div>
    </div>
  </div>

</div>
