
<h2>{{user?.email}}</h2>

<div class="flex-row card-plain between mt-20px">
  <h4>Budget Limit</h4>
</div>
<div class="flex-column mt-10px">
  <div class="card-plain flex-column blacklist {{wallet?.blacklist?.length === 0 ? 'between' : ''}} text-center">
    <div class="flex-row between ">
      <h2 i18n>My blacklist</h2>
      <button class="anton-button icon primary" [routerLink]="['/settings']" [queryParams]="{modal: 'addToBlacklist'}">
        <ng-icon name="jam-pencil"></ng-icon>
      </button>
    </div>
    <div class="body">
      <app-symbol-card [selectable]="false" *ngFor="let symbol of (wallet?.blacklist ?? [])" [symbol]="symbol" (deleteItem)="deleteBlacklistItem(symbol)"></app-symbol-card>
      <ng-container *ngIf="wallet?.blacklist?.length === 0">
        <img style="width: 100px" alt="guard" src="/assets/guard.png">
        <h2 i18n>No symbols in blacklist</h2>
        <div class="alert warn" i18n>
          This list contains all those symbols that are ignored by Anton algorithm.
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="flex-row mt-10px mobile-flex-column between">
  <div>
    <h2 i18n>Access Key: </h2><span>{{obfuscate(wallet?.accessKey)}}</span>
    <h2 i18n>Secret Key: </h2><span>{{obfuscate(wallet?.secretKey)}}</span>
    <button class="anton-button link-button change-credentials primary" [routerLink]="['/settings']" [queryParams]="{modal: 'setCredentials'}">
      <ng-icon name="jam-pencil"></ng-icon>
      <span i18n>Change Keys</span>
    </button>
  </div>
</div>
