@import "../../../styles/palette";

.price-box {
  color: #fff;
  padding: 5px;
  border: none;
  font-size: 25px;
  border-radius: 5px;
  &.green {
    background: $primary-active;
  }
  &.red {
    background: $primary-danger;
  }
}
