@import "../../../../styles/palette";

.tabs {
  .tab {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: #fbf7f7;
    border-bottom: none;
    padding: 4px;
    cursor: pointer;
    &.selected {
      background: #fff;
    }
  }
}
.detail {
  background: #fff;
  border-top-left-radius: 0;
  float: left;
  .att {
    display: inline-block;
    margin: 10px;
  }

}
.date {
  margin-top: 25px;
  margin-left: 5px;
}
