   <div class="order-details flex-row">
     <div>
       <div class="tabs flex-row">
         <div *ngFor="let order of (oco?.orders ?? []); let i = index" class="tab {{selectedIndex === i ? 'selected' : ''}}" (click)="selectedIndex=i">
           {{orderTypes[order.type]}}
         </div>
       </div>
       <div class="card-plain detail">
         <div class="att">
           <h4 i18n>Coin Quantity</h4>
           {{currentOrder?.origQty}}
         </div>
         <div class="att">
           <h4 i18n>Side</h4>
           {{currentOrder?.side}}
         </div>
         <div class="att">
           <h4 i18n>Price</h4>
           <div class="price">
             {{currentOrder?.price}}
           </div>
         </div>
         <div class="att" *ngIf="currentOrder?.stopPrice">
           <h4 i18n>Stop price</h4>
           {{currentOrder?.stopPrice}}
         </div>
         <div class="att" *ngIf="currentOrder?.status">
           <h4 i18n>Status</h4>
           {{orderStatus[currentOrder!.status]}}
         </div>
         <div class="att" *ngIf="currentOrder?.transactTime">
           <h4 i18n>Create date</h4>
           {{getLocalTime(currentOrder?.transactTime ?? 0)}}
         </div>
         <div class="att" *ngIf="currentOrder?.updateTime">
           <h4 i18n>Update date</h4>
           {{getLocalTime(currentOrder?.updateTime ?? 0)}}
         </div>
         <div class="att" *ngIf="currentOrder?.earnings">
           <h4 i18n>Earnings</h4>
           {{number(currentOrder?.earnings)}}$
         </div>
         <div class="att" *ngIf="currentOrder?.earnings && currentOrder?.buyPrice">
           <h4 i18n>Percentage</h4>
           {{number(((parseFloat(currentOrder?.price!) / currentOrder?.buyPrice!) * 100) - 100)}}%
         </div>
       </div>
     </div>
   </div>
