<div class="order-card card-plain flex-row between {{active ? 'selected' : ''}}" *ngIf="!order?.oco && firstOrder">
  <h4>{{firstOrder.symbol}}</h4>
  <span class="price {{firstOrder.side.toLowerCase()}}">{{types[firstOrder.type] ?? ''}}</span>
</div>

<div class="order-card card-plain {{active ? 'selected' : ''}}" [routerLink]="['/orders']"
     [queryParams]="order.oco ? {orderListId: order.orderListId} : {order: order.orders[0].orderId}"
     *ngIf="order && order?.oco && firstOrder">
  <div class="flex-row between">
    <h4>{{firstOrder.symbol}}</h4>
    <div class="flex-row">
      <span class="price {{firstOrder.side.toLowerCase()}}">OCO</span>
      <ng-icon (click)="order.open = !(order.open)" class="down {{order.open ? 'open' : ''}}" name="jam-arrow-circle-down-f"></ng-icon>
    </div>
  </div>
</div>
<div
  class="sub-order order-card card-plain flex-row between {{order?.open ? 'open' : ''}} {{selectedOrder === item.orderId ? 'selected' : ''}}"
  *ngFor="let item of (order?.orders ?? [])" [routerLink]="['/orders']" [queryParams]="{order: item.orderId}" >
  <span class="price {{firstOrder?.side?.toLowerCase()}}">{{types[item.type]}}</span>
  <span class="status">{{status[item.status]}}</span>
</div>
