@import "../../../styles/palette";

.order-card {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  &.selected, &:hover {
    outline: 2px solid $primary-color;
  }
  h4 {
    padding: 0;
    margin-top: 8px;
  }
  .status, .price {
    border-radius: 5px;
    padding: 5px;
  }
  .price {
    &.buy {
      background: $primary-active;
      color: #fff;
    }
    &.sell {
      background: $primary-danger;
      color: #fff;
    }
  }
  .down {
    top: 10px;
    font-size: 30px;
    transition: .3s ease all;
    &.open {
      transform: rotate(180deg);
    }
    &:hover {
      color: $primary-color;
    }
  }
}

.sub-order {
  transform: scale(.95);
  display: none;
  &.open {
    display: flex;
  }
}


