@import "../../../styles/palette";

.brand-title {
  font-size: 25px;
  color: $primary-color;
  text-transform: uppercase;
  margin: 0;
}

.logobar {
  display: flex;
  flex-direction: row;
  color: #fff;
  position: relative;
  .badge {
    background: $primary-danger;
    border-radius: 10px;
    z-index: 200;
    position: absolute;
    padding: 3px;
    font-size: 10px;
    bottom: 0;
    right: 0;
    transform: translate(15px, 15px);
  }
  .logo {
    width: 28px;
    height: 28px;
  }
}

