@import "palette";

.anton-button {
  padding: 10px;
  border-radius: 3px;
  box-shadow: rgba(17, 17, 26, 0.1) 0 1px 0;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  height: 43px;
  justify-content: space-evenly;

  .spinner {
    flex: 1;
  }

  span {
    flex: 4;
  }

  &.icon {
    background: transparent!important;
    color: $primary-color-dark;
    box-shadow: none;
    padding: 0;
    height: 0;

    &.primary {
      color: $primary-color;
    }
    &.danger {
      color: $primary-danger;
    }
  }

  &.pulse {
    animation: pulse-animation 2s infinite;
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }


  &.image {
    overflow: hidden;
    width: 100px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    &:hover {
      outline: 2px solid $primary-color;
    }
  }

  &.no-back {
    background: transparent!important;
    box-shadow: none;
    color: $primary-color;
  }

  &.telegram {
    color: #fff;
    background: #229ED9;
    height: 40px;
    ng-icon {
      transform: translateY(3px);
    }
  }

  &.primary {
    background-color: $primary-color;
    color: $primary-color-text;

    .spinner > div {
        background-color: #fff!important;
    }
  }

  &.skeleton {
    color: $primary-color;
  }
  &.danger {
    background-color: $primary-danger;
    color: $primary-danger-text;
  }
  &.active {
    background-color: $primary-active;
    color: $primary-active-text;
  }

  &.disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

@media only screen and (max-width: 768px) { //mobile
  .anton-button {
    height: auto;
  }
}

