@import "palette";

.card-plain {
  padding: 10px;
  background: $secondary-color-light;
  border-radius: 5px;

  h1 {
    font-size: 25px;
    color: $primary-color;
  }
  h2 {
    padding-bottom: 15px;
    font-size: 20px;
    color: $secondary-font-color;
  }
  h5, p {
    color: #9f9f9f;
  }
  h5 {
    font-size: 20px;
  }
}
