@import "palette";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

html, body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif !important;
  background: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color-dark;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: $primary-color-strong-dark;
}

@media only screen and (max-width: 768px) { //mobile
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 19px;
  }
  .alert {
    padding: 3px;
  }
  .anton-button {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}

.text-center {
  text-align: center!important;
}

.enable-dropdown {
  .dropdown {
    display: none;
  }

  &:hover {
    color: $primary-color;

    .dropdown {
      display: block;
      padding: 10px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(30px) translateX(-50%);
      z-index: 9999;
      min-height: 10px;
    }
  }
}

li {
  list-style: none;
}

.bg-primary {
  background: $primary-color;
  color: $primary-color-text;
}

.bg-danger {
  background: $primary-danger;
  color: $primary-color-text;
}

.bg-active {
  background: $primary-active;
  color: $primary-color-text;
}

.primary {
  color: $primary-color;
}

.flex-row {
  display: flex;
  flex-direction: row;
  &.center {
    justify-content: center;
  }
  &.end{
    justify-content: end;
  }
  &.between {
    justify-content: space-between;
  }
  &.evenly{
    justify-content: space-evenly;
  }
  &.space {
    justify-content: space-around;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  &.center {
    justify-content: center;
  }
  &.end{
    justify-content: end;
  }
  &.between {
    justify-content: space-between;
  }
}


$margins: 0em, 1em, 2em, 3em, 4em, 5em;
$percentage: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
$marginsPixels: 0px, 10px, 20px, 30px, 40px, 50px;

@media only screen and (max-width: 768px) { //mobile
  .mobile-flex-column {
    display: flex;
    flex-direction: column;
    &.mobile-center {
      justify-content: center;
    }
    &.mobile-end{
      justify-content: end;
    }
    &.mobile-between {
      justify-content: space-between;
    }
  }
  .mobile-flex-row {
    display: flex;
    flex-direction: row;
    &.mobile-center {
      justify-content: center;
    }
    &.mobile-end{
      justify-content: end;
    }
    &.mobile-between {
      justify-content: space-between;
    }
  }
  .mobile-w-100 {
    width: 100%;
  }

  .mobile-w-25 {
    width: 25%;
  }
  .mobile-w-50 {
    width: 50%;
  }
  @each $size in $margins {
    .mobile-mt-#{$size} {
      margin-top: $size!important;
    }
    .mobile-ml-#{$size} {
      margin-left: $size!important;
    }
    .mobile-mr-#{$size} {
      margin-right: $size!important;
    }
    .mobile-mb-#{$size} {
      margin-bottom: $size!important;
    }
  }

  @each $size in $marginsPixels {
    .mobile-mt-#{$size} {
      margin-top: $size!important;
    }
    .mobile-ml-#{$size} {
      margin-left: $size!important;
    }
    .mobile-mr-#{$size} {
      margin-right: $size!important;
    }
    .mobile-mb-#{$size} {
      margin-bottom: $size!important;
    }
  }

}


@each $size in $margins {
  .mt-#{$size} {
    margin-top: $size;
  }
  .ml-#{$size} {
    margin-left: $size;
  }
  .mr-#{$size} {
    margin-right: $size;
  }
  .mb-#{$size} {
    margin-bottom: $size;
  }
}

@each $size in $marginsPixels {
  .mt-#{$size} {
    margin-top: $size;
  }
  .ml-#{$size} {
    margin-left: $size;
  }
  .mr-#{$size} {
    margin-right: $size;
  }
  .mb-#{$size} {
    margin-bottom: $size;
  }
}


.w-100 {
  width: 100%;
}

.w-25 {
  width: 25%;
}

@media(min-width: 768px){
  .desktop-only{
    display: block;
  }
  .mobile-only{
    display: none;
  }
}

.skeleton {
  background-color: #e2e5e7!important;
  // The shine that's going to move across the skeleton:
  background-image:
    linear-gradient(
        90deg,
        rgba(#fff, 0),
        rgba(#fff, 0.5),
        rgba(#fff, 0)
    );
  background-size: 40px 100%; // width of the shine
  background-repeat: no-repeat; // No need to repeat the shine effect
  background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
  animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
  to {
    // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
    background-position: right -40px top 0;
  }
}

.price {
  &.buy {
    background: $primary-active;
    color: #fff;
  }
  &.sell {
    background: $primary-danger;
    color: #fff;
  }
}

.period {
  padding: 3px;
  border-radius: 5px;
  background: #fafafa;
  width: 50px;
  text-align: center;
  cursor: pointer;
  &:hover, &.active {
    outline: 2px solid $primary-color;
  }

  &:not(&:first-child) {
    margin-left: 10px;
  }
}


.not-found {
  display: block;
  margin: 0 auto;
  text-align: center;
  img {
    width: 200px;
  }
}

.led {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: inset 0 0 10px #595959, 0px 1px 1px #c0c0c0;
  &.loading {
    animation: pulse 1s;
    animation-iteration-count: infinite;
  }
  &.on {
    box-shadow: inset 0 0 20px #118323, 0px 1px 1px #33ba27, 0px 2px     15px #2f9628;
    background-color: #2f9628;
  }
  &.off {
    box-shadow: inset 0 0 20px #981322, 0px 1px 1px #810b22, 0px 2px     15px #981322;
    background-color: $primary-danger;
  }
}

@keyframes pulse {
  0% {
    box-shadow: inset 0 0 10px #595959, 0px 1px 1px #c0c0c0;
    background-color: #fff;
  }
  50% {
    box-shadow: inset 0 0 20px #118323, 0px 1px 1px #33ba27, 0px 2px     15px #2f9628;
    background-color: #2f9628;
  }
  100% {
    box-shadow: inset 0 0 10px #595959, 0px 1px 1px #c0c0c0;
    background-color: #fff;
  }
}


a {
  color: #fff;
  text-decoration: underline;
}
