@import "palette";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif !important;
  background: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color-dark;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: $primary-color-strong-dark;
}

a {
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}

.text-center {
  text-align: center;
}

.enable-dropdown {
  .dropdown {
    display: none;
  }

  &:hover {
    color: $primary-color;

    .dropdown {
      display: block;
      padding: 10px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(30px) translateX(-50%);
      z-index: 9999;
      min-height: 10px;
    }
  }
}

li {
  list-style: none;
}

.bg-primary {
  background: $primary-color;
  color: $primary-color-text;
}

.bg-danger {
  background: $primary-danger;
  color: $primary-color-text;
}

.bg-active {
  background: $primary-active;
  color: $primary-color-text;
}

.primary {
  color: $primary-color;
}

.flex-row {
  display: flex;
  flex-direction: row;
  &.center {
    justify-content: center;
  }
  &.end{
    justify-content: end;
  }
  &.between {
    justify-content: space-between;
  }
  &.space {
    justify-content: space-around;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  &.center {
    justify-content: center;
  }
  &.end{
    justify-content: end;
  }
  &.between {
    justify-content: space-between;
  }
}


$margins: 0em, 1em, 2em, 3em, 4em, 5em;
$marginsPixels: 0px, 10px, 20px, 30px, 40px, 50px;

@media only screen and (max-width: 768px) { //mobile
  .mobile-flex-column {
    display: flex;
    flex-direction: column;
  }
  .mobile-flex-row {
    display: flex;
    flex-direction: row;
  }
  .mobile-w-100 {
    width: 100%;
  }

  .mobile-w-25 {
    width: 25%;
  }
  .mobile-w-50 {
    width: 50%;
  }
  @each $size in $margins {
    .mobile-mt-#{$size} {
      margin-top: $size!important;
    }
    .mobile-ml-#{$size} {
      margin-left: $size!important;
    }
    .mobile-mr-#{$size} {
      margin-right: $size!important;
    }
    .mobile-mb-#{$size} {
      margin-bottom: $size!important;
    }
  }

  @each $size in $marginsPixels {
    .mobile-mt-#{$size} {
      margin-top: $size!important;
    }
    .mobile-ml-#{$size} {
      margin-left: $size!important;
    }
    .mobile-mr-#{$size} {
      margin-right: $size!important;
    }
    .mobile-mb-#{$size} {
      margin-bottom: $size!important;
    }
  }

}


@each $size in $margins {
  .mt-#{$size} {
    margin-top: $size;
  }
  .ml-#{$size} {
    margin-left: $size;
  }
  .mr-#{$size} {
    margin-right: $size;
  }
  .mb-#{$size} {
    margin-bottom: $size;
  }
}

@each $size in $marginsPixels {
  .mt-#{$size} {
    margin-top: $size;
  }
  .ml-#{$size} {
    margin-left: $size;
  }
  .mr-#{$size} {
    margin-right: $size;
  }
  .mb-#{$size} {
    margin-bottom: $size;
  }
}


.w-100 {
  width: 100%;
}

.w-25 {
  width: 25%;
}

@media(min-width: 768px){
  .desktop-only{
    display: block;
  }
  .mobile-only{
    display: none;
  }
}

.skeleton {
  background-color: #e2e5e7!important;
  // The shine that's going to move across the skeleton:
  background-image:
    linear-gradient(
        90deg,
        rgba(#fff, 0),
        rgba(#fff, 0.5),
        rgba(#fff, 0)
    );
  background-size: 40px 100%; // width of the shine
  background-repeat: no-repeat; // No need to repeat the shine effect
  background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
  animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
  to {
    // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
    background-position: right -40px top 0;
  }
}


