@import "./palette";

.anton-input {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  background: #fff;
  color: $primary-color-dark;

  &.dashed {
    border: none;
    background: transparent;
    border-bottom: dashed $primary-color;
  }

  &:active, &:focus {
    outline: none;
  }
}

.anton-select {
  height: 35px;
  min-width: 150px;
  font-size: 25px;
  border: none;
  padding-left: 5px;
  &:focus {
    outline: none;
  }
}

@media only screen and (max-width: 768px) { //mobile
  .anton-input {
    font-size: 14px;
  }
}

