.anton-modal {
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  height: 100%;
  z-index: 999;
  .close {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(50, 50, 50, .4);
      backdrop-filter: blur(5px);
      pointer-events: none;
    }
  }

  .dialog {
    position: absolute;
    left: 50%;
    z-index: 9999;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: #fff;
    max-height: 90vh;
    max-width: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header {
        flex:3;
    }
    .body {
      max-height: 40vh;
      overflow-y: auto;
      flex: 4;
    }

    .footer {
      flex: 1;
    }
  }

  @media only screen and (max-width: 768px) { //mobile
    .dialog {
      width: 95%;
    }
  }


}
