$primary-color-dark: #2f2f2f;
$primary-color-strong-dark: #1B1B1B;
$primary-color-light-dark: #464646;
$secondary-color-light: #E8E5E6;
$secondary-font-color: #2f2f2f;
$background-color: #F1EFF0;
$card-background: #FFF;
$card-background-dark: #14121E;
$background-color-secondary: #FAFAFA;
$secondary-color-light-gradient: linear-gradient(180deg, #F9F9F9 0%, rgba(180, 180, 180, 0.77) 53.12%, rgba(139, 139, 139, 0) 100%);;
$primary-color: #64b5f6;
$primary-color-transparent: rgba(198, 158, 56, 1);
$primary-color-text: #fff;
$primary-danger: #c51c00;
$primary-danger-text: #fff;
$warn-warning: rgba(198, 158, 56, 0.8);;
$light-color: #b9b22b;
$primary-active: #50C878;
$primary-active-text: #fff;
$primary-danger-text: #fff;

$primary-field-background: #eaeaea;

