$primary-color-dark: #2f2f2f;
$primary-color: #c69e38;
$primary-color-transparent: rgba(198, 158, 56, 1);
$primary-color-text: #fff;
$primary-danger: #c44d38;
$primary-danger-text: #fff;
$light-color: #b9b22b;
$primary-active: #50C878;
$primary-active-text: #fff;
$primary-danger-text: #fff;

