@import "../../../styles/palette";

$max-width-layout: 1000px;

.wallet-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content-wrapper {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow-x: hidden;
    flex: 9;

    div {
      flex: 1;
    }

    .menu-bar-wrapper {
      padding: 15px 25px 15px 15px;
      background: $background-color-secondary;
      .menu-bar {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        .wallets {
          margin-right: 15px;
          img {
            height: 35px;
            margin-right: 5px;
          }
        }
        nav {
          width: 150px;
          margin-top: 5px;
          height: 100%;
          h3 {
            cursor: pointer;
            &.active {
              color: $primary-color;
              position: relative;
              &:after {
                position: absolute;
                content: '';
                bottom: -10px;
                left: 0;
                width: 100%;
                height: 3px;
                background: $primary-color;
              }
            }
          }
        }
        a {
          font-size: 25px;
          text-align: right;
          .dropdown {
            background: #fff;
            li {
              color: $primary-color-dark;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
    }

    .content {
      width: $max-width-layout;
      margin: 0 auto;
      flex: 35;

      &.fullscreen {
        width: 100%;
      }
    }
  }
}



@media only screen and (max-width: 1000px) { //mobile
  .wallet-layout {
    height: auto;
    .content-wrapper {
      white-space: normal;
      .content {
        width: 100%;

      }
    }
  }
}
