@import "../../../styles/palette";

$max-width-layout: 1000px;

.wallet-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content-wrapper {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow-x: hidden;
    flex: 9;

    div {
      flex: 1;
    }

    .menu-bar-wrapper {
      padding: 15px 25px 15px 15px;
      background: #fff;
      display: flex;
      justify-content: center;
      flex: 1;
      .menu-bar {
        display: flex;
        max-width: $max-width-layout;
        justify-content: space-between;

        .wallets {
          margin-right: 15px;
          img {
            height: 35px;
            margin-right: 5px;
          }
        }
        nav {
          width: 150px;
          margin-top: 5px;
          height: 100%;
          h3 {
            cursor: pointer;
            &.active {
              color: $primary-color;
              position: relative;
              &:after {
                position: absolute;
                content: '';
                bottom: -10px;
                left: 0;
                width: 100%;
                height: 3px;
                background: $primary-color;
              }
            }
          }
        }
        a {
          font-size: 25px;
          text-align: right;
          .dropdown {
            background: #fff;
            li {
              color: $primary-color-dark;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
    }


    .content {
      width: $max-width-layout;
      height: 100%;
      margin: 0 auto;
      flex: 35;

      &.fullscreen {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1000px) { //mobile
  .wallet-layout {
    .content-wrapper {
      .content {
        width: 90%;
      }
    }
  }
}

.notification {
  position: absolute;
  top: 0;
  right: -50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: .3s ease all;
  &.active {
    right: 10px;
  }
  img {
    width: 150px;
  }
  .speech-bubble {
    width: 300px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: $primary-color-strong-dark;
    position:relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 3px;
  }

  .speech-bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #fff;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 6px;
  }
}

