@import "../../../styles/palette";

.wallet-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .sidebar {
    height: 100%;
    background: $secondary-color-light;
    flex: 1;
    ::ng-deep{
      .logobar {
        padding: 15px;
      }
    }
    nav {
      margin-top: 25px;
      li {
        color: $primary-color-light-dark;
        padding: 15px;
        transition: .2s ease all;
        cursor: pointer;
        &.active {
          color: $primary-color;
        }
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .content-wrapper {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow-x: hidden;
    flex: 9;
    div {
      flex: 1;
    }

    .menu-bar {
      height: 33px;
      padding: 15px;
      padding-right: 25px;
      display: flex;
      flex: 1;
      justify-content: end;
      .wallets {
        margin-right: 15px;
        img {
          height: 35px;
          margin-right: 5px;
        }
      }
      a {
        font-size: 25px;

        .dropdown {
          background: #fff;
          transform: translateX(-50%);
          li {
            color: $primary-color-dark;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }

    .content {
      width: 100%;
      height: 100%;
      flex: 15;
    }
  }
}

