<div class="wallet-layout">
  <div class="content-wrapper">
    <div class="menu-bar-wrapper">
      <div class="menu-bar">
        <div class="flex-row">
          <app-logo></app-logo>
          <nav class="flex-row ml-50px between">
            <h3 id="overview-menu" [routerLink]="['/']" [class]="liClass('overview')" i18n>Home</h3>
            <h3 id="orders-menu" [routerLink]="['/orders']" [class]="liClass('orders')" i18n>Orders</h3>
          </nav>
        </div>
        <a>

          <app-avatar fontSize="20px" size="30px"></app-avatar>
          <div class="dropdown">
            <nav>
              <li [routerLink]="['/profile']" i18n>My Profile</li>
              <li (click)="logout()" i18n>Logout</li>
            </nav>
          </div>
        </a>
      </div>
    </div>
    <div class="content {{endpoint === 'orders' ? 'fullscreen' : ''}}">
      <router-outlet></router-outlet>
    </div>
    <app-footer class="mt-50px"></app-footer>
  </div>
</div>

<div class="anton-modal" *ngIf="currentModal">
  <div class="dialog">
    <button class="anton-button icon close" (click)="closeModal()">
      <ng-icon name="jam-close"></ng-icon>
    </button>
    <ng-template [ngTemplateOutlet]="currentModal"></ng-template>
  </div>
  <div class="backdrop" (click)="closeModal()"></div>
</div>

<ng-template #setExchangeKeys>
  <app-connect-wallet></app-connect-wallet>
</ng-template>

<ng-template #addToBlacklist>
  <app-add-to-blacklist></app-add-to-blacklist>
</ng-template>

<ng-template #deleteBlacklistSymbol>
  <app-delete-blacklist-symbol></app-delete-blacklist-symbol>
</ng-template>


<ng-template #walletSettings>
  <app-wallet-settings></app-wallet-settings>
</ng-template>

<div class="notification {{currentDialog ? 'active' : ''}}">
  <div class="speech-bubble">
    {{currentDialog}}
  </div>
  <img src="/assets/notification.png">
</div>
