<div class="wallet-overview">
  <div class="flex-row center mt-50px mobile-mt-10px">
    <div *ngIf="wallet?.strategy?.state === strategyState.DEPLOYING" class="creating-wallet alert warn enable-dropdown text-center">
      <img src="/assets/creating-wallet.svg" width="50" style="margin-top: -10px" />
      <h2 i18n>Anton is creating your wallet...</h2>
    </div>
    <div *ngIf="wallet?.strategy?.state === strategyState.BNB_FEE_MISSING" class="creating-wallet alert danger enable-dropdown text-center">
      <h2 i18n>BNB fees has been disabled in your Binance's settings</h2>
      <h3 class="mt-10px" i18n>Please re-enable it to maximize your earnings!</h3>
      <app-button class="mt-10px" [loading]="loadingEnableBnbFee" (click)="enableBnbFees()"><span>Re-enable</span></app-button>
    </div>
    <div *ngIf="wallet?.strategy?.state === strategyState.KEYS_NOT_VALID" class="creating-wallet alert danger enable-dropdown text-center">
      <h2 i18n>Your keys are not valid, maybe are expired or removed</h2>
      <h3 i18n>Please click on "Change Keys" and click play</h3>
    </div>
    <div *ngIf="wallet?.strategy?.state === strategyState.KEY_PERMISSION" class="creating-wallet alert danger enable-dropdown text-center">
      <h2 i18n>Keys permissions are not valid</h2>
      <h3 i18n>You have to enable permissions in your wallet, watch this video if you don't know how</h3>
      <div class="video">
        <div class="video-container mt-20px">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/XoasulyER7A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <app-button [loading]="loadingReUpdateWallet" (click)="reValidateKeys()"><span i18n>Done</span></app-button>
    </div>
  </div>
  <div class="flex-row between mobile-flex-column">
    <div>
      <h1 i18n>Your wallet</h1>
      <h5 i18n>Take a look of your journey status in the crypto world</h5>
    </div>
    <div class="mobile-flex-row flex-row mobile-mt-20px">
      <app-button *ngIf="wallet?.strategy?.state === strategyState.DEPLOYED || wallet?.strategy?.state === strategyState.STOPPED || wallet?.strategy?.state === strategyState.RUNNING" (click)="playStrategy()" [loading]="playLoading" class="mr-10px" [type]="wallet?.strategy?.state === strategyState.RUNNING ? '' : 'active pulse'">
          <ng-container *ngIf="wallet?.strategy?.state === strategyState.STOPPED || wallet?.strategy?.state === strategyState.DEPLOYED">
            <ng-icon name="jam-play"></ng-icon>
            <span i18n>
              Play
            </span>
          </ng-container>
          <ng-container *ngIf="wallet?.strategy?.state === strategyState.RUNNING">
            <ng-icon name="jam-pause"></ng-icon>
            <span i18n>
              Pause
            </span>
          </ng-container>
      </app-button>
      <button *ngIf="linked === false" class="anton-button link-button pulse primary" [routerLink]="['/overview']" [queryParams]="{modal: 'setCredentials'}">
        <ng-icon name="mat-link"></ng-icon>
        <span i18n>Connect to Binance</span>
      </button>
      <!--button class="anton-button telegram mobile-ml-10px ml-10px mobile-ml-0px" i18n>
        <ng-icon name="mat-telegram"></ng-icon>
        Connect to Telegram
      </button-->

    </div>

  </div>

  <div class="profile flex-row mt-30px mobile-flex-column">
    <app-wallet-card [wallet]="wallet" style="flex: 1; width: 100%"></app-wallet-card>
    <div class="flex-column profile-counters ml-10px mobile-ml-0px mobile-mt-10px">
      <div class="flex-row">
        <app-counter class="mr-10px" sign="$" style="flex: 1" [value]="walletBalance" image="/assets/wallet.png"  i18n-description description="Wallet balance"></app-counter>
        <app-counter style="flex: 1" sign="$" [value]="actualBalance" image="/assets/binance-icon.png" i18n-description description="Binance balance"></app-counter>
      </div>
      <div class="flex-row mt-10px" style="flex: 1">
        <app-counter class="mr-10px" sign="$" style="flex: 1" [value]="totalEarnings" icon="jam-coin" i18n-description description="Revenues"></app-counter>
        <app-counter style="flex: 1" sign="%" [value]="totalPercentage" icon="mat-currency-exchange" i18n-description description="Percentage"></app-counter>
      </div>
    </div>
  </div>
  <div class="mt-10px">
    <h1>My earnings</h1>
    <h5 i18n>This is what Anton have earned from his transactions</h5>
  </div>
  <div class="card-plain mt-10px">
    <div class="mt-10px">
      <ng-container *ngIf="chartMode === 'earnings'">
        <app-revenues-chart></app-revenues-chart>
      </ng-container>
    </div>
  </div>
  <div class="mt-10px">
    <h1 i18n>Last trades</h1>
    <h5 i18n>What trades have done recently</h5>
  </div>
  <img alt="guard" *ngIf="closedTransactions.length === 0" src="/assets/no-data-found.png">
  <div class="body">
    <app-transaction-card
      class="symbol mt-10px"
      *ngFor="let transaction of slice((closedTransactions ?? []))"
      [transaction]="transaction"></app-transaction-card>
  </div>
  <ng-container *ngIf="closedTransactions.length === 0">
    <h2 i18n>No closed trades right now </h2>
    <div class="alert warn" i18n>
      This list contains all those openTransactions that Anton has just catch
    </div>
  </ng-container>

</div>
