<div class="flex-row center mobile-mt-10px">
  <div *ngIf="wallet?.strategy?.state === strategyState.DEPLOYING" class="creating-wallet alert warn enable-dropdown text-center">
    <img src="/assets/creating-wallet.svg" width="50" style="margin-top: -10px" />
    <h2 i18n>Anton is creating your wallet...</h2>
  </div>
  <div *ngIf="wallet?.strategy?.state === strategyState.BNB_FEE_MISSING" class="creating-wallet alert danger enable-dropdown text-center">
    <h2 i18n>BNB fees has been disabled in your Binance's settings</h2>
    <h3 class="mt-10px" i18n>Please re-enable it to maximize your earnings!</h3>
    <app-button class="mt-10px" [loading]="loadingEnableBnbFee" (click)="enableBnbFees()"><span>Re-enable</span></app-button>
  </div>
  <div *ngIf="wallet?.strategy?.state === strategyState.KEYS_NOT_VALID" class="creating-wallet alert danger enable-dropdown text-center">
    <h2 i18n>Your keys are not valid, maybe are expired or removed</h2>
    <h3 i18n>Please click on "Change Keys" and click play</h3>
  </div>
  <div *ngIf="wallet?.strategy?.state === strategyState.KEY_PERMISSION" class="creating-wallet alert danger enable-dropdown text-center">
    <h2 i18n>Keys permissions are not valid</h2>
    <h3 i18n>You have to enable permissions in your wallet, watch this video if you don't know how</h3>
    <div class="video">
      <div class="video-container mt-20px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XoasulyER7A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <app-button [loading]="loadingReUpdateWallet" (click)="reValidateKeys()"><span i18n>Done</span></app-button>
  </div>
</div>
<div class="wallet-overview">

  <div class="flex-column between" style="gap: 10px">
    <div>
      <h1 i18n>Hello! 👋</h1>
      <h5 i18n>Take a look of your journey status in the crypto world</h5>
    </div>
    <app-portfolio-card></app-portfolio-card>
    <div class="earnings-container">
      <div class="card-plain earnings">
        <ng-container *ngIf="chartMode === 'earnings'">
          <app-revenues-chart></app-revenues-chart>
        </ng-container>
      </div>
    </div>
  </div>

</div>
