<div class="wallet-overview">
  <div class="flex-row center mt-50px mobile-mt-10px">
    <div *ngIf="wallet?.strategy?.state === strategyState.DEPLOYING" class="creating-wallet alert warn enable-dropdown text-center">
      <img src="/assets/creating-wallet.svg" width="50" style="margin-top: -10px" />
      <h2 i18n>Anton is creating your wallet...</h2>
    </div>
  </div>
  <div class="flex-row between mobile-flex-column">
    <div>
      <h1 i18n>Your wallet</h1>
      <h5 i18n>Take a look of your journey status in the crypto world</h5>
    </div>
    <div class="mobile-flex-row flex-row mobile-mt-20px">
      <app-button *ngIf="wallet?.strategy?.state === strategyState.DEPLOYED || wallet?.strategy?.state === strategyState.STOPPED || wallet?.strategy?.state === strategyState.RUNNING" (click)="playStrategy()" [loading]="playLoading" class="mr-10px" [type]="wallet?.strategy?.state === strategyState.RUNNING ? '' : 'active'">
          <ng-container *ngIf="wallet?.strategy?.state === strategyState.STOPPED || wallet?.strategy?.state === strategyState.DEPLOYED">
            <ng-icon name="jam-play"></ng-icon>
            <span i18n>
              Play
            </span>
          </ng-container>
          <ng-container *ngIf="wallet?.strategy?.state === strategyState.RUNNING">
            <ng-icon name="jam-pause"></ng-icon>
            <span i18n>
              Pause
            </span>
          </ng-container>
      </app-button>
      <button *ngIf="linked === false" class="anton-button link-button pulse primary" [routerLink]="['/overview']" [queryParams]="{modal: 'setCredentials'}" i18n>
        <ng-icon name="mat-link"></ng-icon>
        Connect to Binance
      </button>
      <button *ngIf="linked === true" class="anton-button link-button change-credentials primary" [routerLink]="['/overview']" [queryParams]="{modal: 'setCredentials'}" i18n>
        <ng-icon name="jam-pencil"></ng-icon>
        Change Keys
      </button>
      <app-button *ngIf="linked === undefined" [loading]="true" i18n>
        Connessione...
      </app-button>
      <!--button class="anton-button telegram mobile-ml-10px ml-10px mobile-ml-0px" i18n>
        <ng-icon name="mat-telegram"></ng-icon>
        Connect to Telegram
      </button-->

    </div>

  </div>

  <div class="profile flex-row mt-30px mobile-flex-column">
    <app-wallet-card [wallet]="wallet" style="flex: 1; width: 100%"></app-wallet-card>
    <div class="flex-column profile-counters ml-10px mobile-ml-0px mobile-mt-10px">
      <div class="flex-row">
        <app-counter class="mr-10px" sign="$" style="flex: 1" [value]="walletBalance" image="/assets/wallet.png"  i18n-description description="Wallet balance"></app-counter>
        <app-counter style="flex: 1" sign="$" [value]="actualBalance" image="/assets/binance-icon.png" i18n-description description="Binance balance"></app-counter>
      </div>
      <div class="flex-row mt-10px" style="flex: 1">
        <app-counter class="mr-10px" sign="$" style="flex: 1" [value]="wallet?.totalEarnings ?? 0" icon="jam-coin" i18n-description description="Revenues"></app-counter>
        <app-counter style="flex: 1" [value]="22" icon="mat-currency-exchange" i18n-description description="Daily Orders"></app-counter>
      </div>
    </div>
  </div>

  <div class="card-plain journey mt-10px">
    <h2 i18n>Revenue chart</h2>
    <app-anton-chart i18n-title title="Your journey"></app-anton-chart>
  </div>

  <div class="flex-row between mt-10px orders mobile-flex-column">
    <div class="card-plain flex-column {{orders.length === 0 ? 'between' : ''}}" style="flex: 1">
      <div class="flex-row between">
        <h2 i18n>My active orders</h2>
      </div>
      <img alt="guard" *ngIf="orders.length === 0" src="/assets/orders-not-found.png">
      <div class="body">
        <app-symbol-card
          [selectable]="false"
          class="symbol mt-10px"
          *ngFor="let order of (orders ?? [])"
          [routerLink]="['/orders']"
          [queryParams]="order.oco ? {orderListId: order.orderListId} : {order: order.orders[0].orderId}"
          [symbol]="order.symbol"
          [remove]="false"></app-symbol-card>
      </div>
      <ng-container *ngIf="orders.length === 0">
        <h2 i18n>No orders right now </h2>
        <div class="alert warn" i18n>
          This list contains all those orders that Anton has just catch
        </div>
      </ng-container>
    </div>
    <div class="card-plain flex-column ml-10px blacklist mobile-ml-0px mobile-mt-10px {{wallet?.blacklist?.length === 0 ? 'between' : ''}}" style="flex: 1">
      <div class="flex-row between ">
        <h2 i18n>My blacklist</h2>
        <button class="anton-button icon primary" [routerLink]="['/overview']" [queryParams]="{modal: 'addToBlacklist'}">
          <ng-icon name="jam-pencil"></ng-icon>
        </button>
      </div>
      <div class="body">
        <app-symbol-card [selectable]="false" *ngFor="let symbol of (wallet?.blacklist ?? [])" [symbol]="symbol" (deleteItem)="deleteBlacklistItem(symbol)"></app-symbol-card>
        <ng-container *ngIf="wallet?.blacklist?.length === 0">
          <img alt="guard" src="/assets/guard.png">
          <h2 i18n>No symbols in blacklist</h2>
          <div class="alert warn" i18n>
            This list contains all those symbols that are ignored by Anton algorithm.
          </div>
        </ng-container>
      </div>

    </div>
  </div>

</div>
