@import "../../../styles/palette";


.card-plain {
  img {
    width: 20%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
}

.wallet-overview {
  min-height: 1000px;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .link-button, .telegram {
    max-width: 300px;
    flex: 1;
    height: 43px;
  }

  .profile {
    flex: 1;
    .profile-counters {
      flex: 1;

      .flex-row {
        .card-plain {
          flex: 1;
        }
      }
    }
    ::ng-deep {
      .profile-card {
        height: 100%;
      }
    }
  }

  .orders {
    flex: 2;
  }

  .journey {
    flex: 1;
  }

  .orders {
    text-align: center;
  }

}

@media only screen and (max-width: 768px) { //mobile
  .wallet-overview {
    flex-direction: column;
  }
}
