<form [formGroup]="form" class="new-password-required" *ngIf="username && session" (submit)="changePassword()">
  <h1 i18n>Email verified!</h1>
  <h4 class="mt-10px" i18n>Now you can choose your password</h4>
  <input type="password" formControlName="newPassword" class="anton-input mt-10px" i18n-placeholder placeholder="Password" />
  <div class="alert warn mt-10px" i18n>
    Note that password must be at least with 10 characters with lowercase, uppercase and special characters
  </div>
  <div class="alert danger mt-10px" *ngIf="error">{{error}}</div>
  <app-button [loading]="loading" class="mt-10px" i18n>
    Change password
  </app-button>
</form>
