<div class="flex-column order-inspection" *ngIf="currentOrders && currentOrders.length > 0">
  <div class="flex-column ml-10px">
    <div class="flex-row mt-20px">
      <a [href]="'https://www.binance.com/en/trade/' + currentOrders[0].symbol + '?type=spot'" target="_blank">
        <button class="anton-button image">
          <img src="/assets/binance-logo.png" />
        </button>
      </a>
      <button class="anton-button image ml-10px">
        <img src="/assets/coinmarketcap.png" />
      </button>
    </div>
    <div class="flex-row mt-10px">
      <div class="period {{currentPeriod === '1h' ? 'active' : ''}}" (click)="refreshTicks('1h')">
        1h
      </div>
      <div class="period {{currentPeriod === '5m' ? 'active' : ''}}" (click)="refreshTicks('5m')">
        5m
      </div>
      <div class="period {{currentPeriod === '3m' ? 'active' : ''}}" (click)="refreshTicks('3m')">
        3m
      </div>
    </div>
    <div *ngIf="currentOrders" class="card-plain chart-container {{currentKlines ? '' : 'skeleton'}} mt-20px">
      <app-order-chart [data]="{orders: currentOrders, dataSeries: currentKlines, pro}"></app-order-chart>
    </div>
    <div class="order-details-panel mt-20px flex-column" *ngIf="pro">
      <div class="arrow-container flex-column" *ngFor="let oco of currentOrders; let i = index">
        <div class="flex-row center mt-10px" style="font-size: 50px">
          <ng-icon *ngIf="i > 0" name="jam-arrow-up"></ng-icon>
        </div>
        <app-order-details [oco]="oco" ></app-order-details>
      </div>
    </div>
  </div>

</div>

