
.order-inspection {
  display: flex;
  justify-content: center;
  width: 100%;
  .chart-container {
    min-height: 400px;
    width: 100%;
    flex: 1;
    padding:0;
    max-width: 800px;
  }
  .order-details-panel {
    flex: 1;
  }

}
