@import "../../../../styles/palette";

.order-inspection {
  display: flex;
  justify-content: center;
  width: 80vw;

  .chart-container {
    min-height: 400px;
    width: 100%;
    overflow: hidden;
    flex: 1;
    padding:0;
  }
  .order-details-panel {
    flex: 1;
  }

}

.detail {
  background: #fff;
  border-top-left-radius: 0;
  float: left;
  .att {
    display: inline-block;
    margin: 10px;
  }
}
