<div class="symbols-list">
  <form [formGroup]="searchSymbol">
    <input formControlName="symbolName" class="anton-input" placeholder="Search your symbol" i18n-placeholder />
  </form>
  <div class="body">
    <app-symbol-card
      *ngFor="let symbol of pages[currentPageIndex]"
      (select)="pushSymbol($event)"
      [selected]="blacklist.indexOf(symbol) > -1"
      (deSelect)="removeSymbol($event)"
      [remove]="false"
      [selectable]="true"
      [symbol]="symbol"></app-symbol-card>
  </div>
</div>
