<div class="workspace">
  <div class="flex-row between topbar" style="gap: 15px;">
    <div class="flex-row" style="gap: 10px">
      <app-logo></app-logo>
      <nav>
        <div class="flex-row item {{liClass('overview') + ' mobile-mr-10px'}}" [routerLink]="['/']">
          <h2 i18n>Home</h2>
        </div>
        <div class="flex-row item {{liClass('market') + ' mobile-mr-10px'}}" [routerLink]="['/market']" >
          <h2 i18n>Market</h2>
        </div>
        <div class="flex-row item {{liClass('settings') + ' mobile-mr-10px'}}" [routerLink]="['/settings']" >
          <h2 i18n>Settings</h2>
        </div>
      </nav>
    </div>
    <div class="flex-row" style="gap: 10px">
      <div class="mt-10px languages">
        <app-language-selector></app-language-selector>
      </div>
      <div class="anton-button icon">
        <ng-icon name="jam-bell"></ng-icon>
      </div>
      <div class="anton-button icon">
        <ng-icon name="jam-close"></ng-icon>
      </div>
    </div>
  </div>
  <div class="flex-row mobile-flex-column center" style="gap: 10px;">
    <div class="card-plain content" style="flex: 2">
      <div style="max-width: 100em; display: block; margin: 0 auto;">
        <div class="body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="flex-column out-panels" style="flex: 1">
      <div class="card-plain latest-trades">
        <div class="flex-row center">
          <div class="text-center">
            <div class="mt-10px">
              <h1 i18n>Last trades</h1>
              <h5 i18n>What trades have done recently</h5>
            </div>
            <img class="guard" alt="guard" *ngIf="closedTransactions.length === 0" src="/assets/no-data-found.png">
            <div class="body">
              <app-transaction-card
                class="symbol mt-10px"
                *ngFor="let transaction of slice((closedTransactions ?? []))"
                [transaction]="transaction"></app-transaction-card>
            </div>
            <ng-container *ngIf="closedTransactions.length === 0">
              <h2 i18n>No closed trades right now </h2>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="card-plain latest-trades">
        <div class="flex-row center">
          <div class="text-center">
            <div class="mt-10px">
              <h1 i18n>Last trades</h1>
              <h5 i18n>What trades have done recently</h5>
            </div>
            <img class="guard" alt="guard" *ngIf="closedTransactions.length === 0" src="/assets/no-data-found.png">
            <div class="body">
              <app-transaction-card
                class="symbol mt-10px"
                *ngFor="let transaction of slice((closedTransactions ?? []))"
                [transaction]="transaction"></app-transaction-card>
            </div>
            <ng-container *ngIf="closedTransactions.length === 0">
              <h2 i18n>No closed trades right now </h2>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="anton-modal" *ngIf="currentModal">

  <div class="dialog">
    <button class="anton-button icon close" (click)="closeModal()">
      <ng-icon name="jam-close"></ng-icon>
    </button>
    <ng-template [ngTemplateOutlet]="currentModal"></ng-template>
  </div>
  <div class="backdrop" (click)="closeModal()"></div>
</div>

<ng-template #inspectOrder>
  <app-transaction-details-modal></app-transaction-details-modal>
</ng-template>

<ng-template #resetDialog>
  <app-reset-dialog></app-reset-dialog>
</ng-template>

<ng-template #runStrategyDescription>
  <app-run-strategy-description></app-run-strategy-description>
</ng-template>

<ng-template #setExchangeKeys>
  <app-connect-wallet></app-connect-wallet>
</ng-template>


<ng-template #deleteBlacklistSymbol>
  <app-delete-blacklist-symbol></app-delete-blacklist-symbol>
</ng-template>

<div class="notification {{currentDialog ? 'active' : ''}}">
  <div class="speech-bubble">
    {{currentDialog}}
  </div>
  <img src="assets/success.png">
</div>
