@import "../../../../styles/palette";

.wallet-orders {
  height: 100vh;
  .orders-list {
    flex: 1;
    padding: 5px;
    height: 100%;
    .list {
      padding: 1px;
      height: calc(100vh - 200px);
      overflow-y: auto;
    }
  }
  .order-inspect {
    flex: 3;
    overflow: auto;
    white-space: normal;
  }
}


@media only screen and (max-width: 768px) { //mobile
  .wallet-orders {
    .orders-list {
      .list {
        height: auto;
        &.open {
          max-height: calc(100vh - 11px);
        }
        &.close {
          max-height: 200px;
          width: 100%;
          display: flex;
          flex-direction: row;
          &::ng-deep {
            &:not(&:first-child) {
              .transaction-card {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
    .order-inspect {
      flex: 6;
    }
  }

}
