@import "../../../../styles/palette";

.wallet-orders {
  height: 100%;
  .orders-list {
    flex: 1;
    min-width: 200px;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid $primary-field-background;
    padding: 5px;
  }
  .order-inspect {
    flex: 3;

  }
}
