<div class="flex-row mobile-flex-column wallet-orders">
  <div class="orders-list">
    <h2 i18n class="mt-10px">Orders</h2>
    <div class="list">
      <app-transaction-card [active]="currentTransaction?.id === transaction.id" *ngFor="let transaction of values(transactions ?? {})" [transaction]="transaction"></app-transaction-card>
    </div>
  </div>
  <div class="order-inspect" *ngIf="currentTransaction">
    <h2 i18n class="mt-10px ml-10px">{{currentTransaction?.symbol}} - {{getTransactTime(currentTransaction)}}</h2>
    <app-order-inspection [orders]="currentTransaction.orders"></app-order-inspection>
  </div>
</div>
