<div class="flex-row mobile-flex-column wallet-orders">
  <div class="orders-list">
    <div class="flex-row evenly mt-10px">
      <h2 class="mode {{mode === 'OPEN' ? 'active' : ''}}" i18n [routerLink]="['/orders']" [queryParams]="{mode: 'OPEN'}">Open</h2>
      <h2 class="mode  {{mode === 'CLOSE' ? 'active' : ''}}" i18n [routerLink]="['/orders']" [queryParams]="{mode: 'CLOSE'}">Close</h2>
    </div>
    <div class="list {{currentTransaction ? 'close' : 'open'}}">
      <app-transaction-card [active]="currentTransaction?.id === transaction.id" *ngFor="let transaction of transactionsList" [transaction]="transaction"></app-transaction-card>
    </div>
  </div>
  <div class="order-inspect" *ngIf="currentTransaction">
    <div class="flex-row between">
      <h2 i18n class="mt-10px ml-10px">{{currentTransaction?.symbol}} - {{getTransactTime(currentTransaction)}}</h2>
      <div class="flex-column">
        <label i18n>Lite mode</label>
        <app-switch (toggle)="togglePro()" [control]="proSwitch"></app-switch>
      </div>
    </div>
    <app-order-inspection [pro]="!proSwitch.value" [orders]="currentTransaction.orders"></app-order-inspection>
  </div>
</div>
