@import "../../../../styles/palette";

.wallet-orders {
  height: 100%;
  .orders-list {
    flex: 1;
    min-width: 200px;
    border-right: 1px solid $primary-field-background;
    padding: 5px;
    background: #fbf7f7;
    .list {
      padding: 1px;
      height: calc(100vh - 200px);
      overflow-y: auto;
    }
  }
  .order-inspect {
    flex: 3;
    overflow: auto;
  }
}


@media only screen and (max-width: 768px) { //mobile
  .wallet-orders {
    .orders-list {
      .list {
        height: auto;
        max-height: 200px;
      }
    }
  }

}
