@import "../../../styles/palette";

.transaction-card {
  padding: 10px;
  margin-top: 10px;
  position: relative;
  border-bottom: 1px solid $primary-field-background;
  img {
    width: 40px;
    height: 40px;
  }
  h4 {
    padding: 0;
    margin-top: 8px;
  }
  .icon-btn {
    cursor: pointer;
  }
  .status, .price {
    border-radius: 5px;
    padding: 5px;
  }
}

