<div class="profile-card card-plain flex-column {{limitMax ? '' : 'skeleton'}}">
  <ng-container *ngIf="limitMax && limitMax >= 100">
    <div class="header {{walletPlan}}" >
      <div class="flex-row between">
        <h4 i18n>How much BUSD you wanna invest?</h4>
        <a target="_blank" href="https://www.anton.finance/blog/fiat-stable-coin" i18n>What is BUSD?</a>
      </div>
      <div class="flex-row center">
        <h1><input type="text" class="anton-input dashed budget-control" [formControl]="walletBudgetControl" [value]="walletBudgetControl.value"></h1>
      </div>
    </div>
    <div class="body flex-column between">
      <app-slider *ngIf="limitMax !== undefined" class="slider" [fc]="walletBudgetControl" (onChange)="walletBudgetControl.setValue($event)" [min]="50" [max]="limitMax"></app-slider>
      <!--div *ngIf="limitMax !== undefined && walletBudgetControl.value > 500" class="alert warn text-center" i18n>
        This is the beta version, you can invest up to 500$
      </div-->
      <div class="unlock-message" *ngIf="limitExceeded">
        <h4 i18n>The limit for trial version is 500 BUSD, you can increase it in a few clicks!</h4>
        <app-button (click)="checkout()" [loading]="loading">
          <span i18n>Unlock</span>
        </app-button>
      </div>

      <div *ngIf="!limitExceeded" class="flex-row center mt-20px">
        <app-button *ngIf="mode === 'page'" (click)="submitWallet()" [loading]="loading">
          <span i18n>Save</span>
        </app-button>
        <app-button *ngIf="mode === 'wizard'" (click)="submitWallet()" [loading]="loading">
          <span i18n>Finish</span>
        </app-button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="limitMax && limitMax < 100">
    <h2>You dont have sufficient BUSD in your account, you have to own at least 100 BUSD, please go to Binance and buy it</h2>
    <h4>In our blog you can find a very simple guide: </h4>
  </ng-container>

</div>


