<div class="profile-card card-plain flex-column {{limitMax ? '' : 'skeleton'}}">
  <div class="header {{walletPlan}}" *ngIf="limitMax !== undefined">
    <div class="flex-row between">
      <h4 i18n>How much BUSD you wanna invest?</h4>
      <a target="_blank" href="https://www.anton.finance/blog/fiat-stable-coin" i18n>What is BUSD?</a>
    </div>
    <div class="flex-row center">
      <h1><input type="text" class="anton-input dashed budget-control" [formControl]="walletBudgetControl" [value]="walletBudgetControl.value"></h1>
    </div>
  </div>
  <div class="body flex-column between">
    <app-slider *ngIf="limitMax !== undefined" class="slider" [fc]="walletBudgetControl" (onChange)="walletBudgetControl.setValue($event)" [min]="50" [max]="limitMax"></app-slider>
    <div *ngIf="limitMax !== undefined && walletBudgetControl.value > 500" class="alert warn text-center" i18n>
      This is the beta version, you can invest up to 500$
    </div>
    <div *ngIf="walletBudgetControl.value <= 500" class="flex-row center mt-20px">
      <app-button *ngIf="mode === 'page'" (click)="walletBudgetControl.value <= 500 ? submitWallet() : null" [disabled]="walletBudgetControl.value > 500" [loading]="loading">
        <span i18n>Save</span>
      </app-button>
      <app-button *ngIf="mode === 'wizard'" (click)="walletBudgetControl.value <= 500 ? submitWallet() : null" [disabled]="walletBudgetControl.value > 500" [loading]="loading">
        <span i18n>Finish</span>
      </app-button>
    </div>
  </div>

</div>


