<div class="profile-card card-plain flex-column">
  <div class="header {{walletPlan}}">
    <h4 i18n>Wallet's budget</h4>

    <h1>$<input type="text" class="anton-input dashed budget-control" [formControl]="walletBudgetControl" [value]="walletBudgetControl.value"></h1>
  </div>
  <div class="body">
    <app-slider class="slider" [fc]="walletBudgetControl" (onChange)="walletBudgetControl.setValue($event)" [min]="50" [max]="walletService.planBudgetInterval['PLATINUM'][1]"></app-slider>
    <div class="flex-row controls mt-10px">
      <div class="control">
        <label i18n>Auto reinvest</label>
        <app-switch class="mt-20px" [control]="autoReinvestControl"></app-switch>
      </div>
      <div class="control">
        <label i18n>Anton's fee</label>
        <h1>${{walletService.planFees[walletPlan]}}</h1>
      </div>
      <div class="control">
        <label i18n>Market</label>
        <select class="anton-select">
          <option *ngFor="let market of walletService.markets" [value]="market">{{market}}</option>
        </select>
      </div>
    </div>
    <div class="flex-row center mt-20px">
      <app-button (click)="submitWallet()" [loading]="loading" i18n>Save</app-button>
    </div>
  </div>

</div>


