<div class="flex-column between" style="height: 100%">
  <h2 i18n>What platform do you use?</h2>

  <div class="flex-row platforms mt-50px mobile-flex-column between">
    <div class="platform {{currentSelection === walletType.BINANCE ? 'active' : ''}}" (click)="currentSelection = walletType.BINANCE">
      <img src="/assets/binance-logo.png" />
    </div>
    <div class="platform coming-soon {{currentSelection === walletType.COINBASE ? 'active' : ''}}">
      <h2>Coming soon</h2>
      <img src="/assets/coinbase.png" />
    </div>
  </div>
  <div class="flex-row center platforms">
    <div class="platform coming-soon {{currentSelection === walletType.COINBASE ? 'active' : ''}}">
      <h2>Coming soon</h2>
      <img src="/assets/crypto-com-logo.jpg" />
    </div>
  </div>

  <div *ngIf="error" class="alert error mt-20px text-center">
    {{error}}
    <button class="anton-button" i18n [routerLink]="['/']">Go to wallet dashboard</button>
  </div>

  <div class="flex-row center mt-50px" [ngStyle]="{opacity: currentSelection !== undefined ? '1' : '0'}">
    <app-button (click)="next()" [loading]="loading">
      <span i18n>Next</span>
    </app-button>
  </div>
</div>
