@import "../../../styles/palette";

.symbol-card {
  padding: 10px;
  img {
    width: 25px;
  }
  span {
    padding: 0;
    margin-left: 10px;
  }

  .market {
    background-color: $primary-color;
    border-radius: 5px;
    padding: 3px;
    width: 25px;
    color: #fff;
  }
}

