<div class="container">
  <h1 i18n>Strategy will start when you will click Play</h1>
  <div class="alert warn mt-10px" i18n>
    This strategy doesn't guarantee earnings and can cause money loss.
  </div>
  <h4 class="mt-10px" i18n>Transactions volume</h4>
  <p>
    Each trade volume will be equivalent to your budget / 2.
  </p>
  <h4 i18n>Candle period</h4>
  <p i18n>
    The strategy use daily candles, so this is a long term investment strategy.
    Anton invest only on crypto that are backtested.
    You can view all results in the gallery below.
    The backtest result doesn't guarantee the same percentage in the future.
  </p>
  <h4>Legend</h4>
  <div class="flex-row between">
    <div>
      <b>Net profit:</b> Total profit earned from your investment
    </div>
    <div>
      <b>Buy & Hold Return:</b> Profit if you buy at start date (2021-08-01) and sell at end date (2022-07-01)
    </div>
  </div>
  <div class="gallery flex-row mt-10px">
    <div class="flex-column center arrow-left" (click)="prev()">
      <div class="flex-row center">
        <ng-icon name="jam-arrow-circle-left-f"></ng-icon>
      </div>
    </div>

    <div class="slide {{fullscreen ? 'fullscreen' : ''}}" (click)="fullscreen = !fullscreen">
      <img [src]="'/assets/backtest/' + cryptos[currentIndex] + '.png'" />
    </div>
    <div class="flex-column center arrow-right" (click)="next()">
      <div class="flex-row center">
        <ng-icon name="jam-arrow-circle-right-f"></ng-icon>
      </div>
    </div>
  </div>
  <div *ngIf="showStrategy">
    <h4 i18n>Buy Strategy (in pseudo code)</h4>
    <pre>
      Crossover((EMA(close, 10), EMA(close, 50))
    </pre>
    <h4 i18n>Sell Strategy (in pseudo code)</h4>
    <pre>
      EMA(close, 10)[1] > EMA(close, 10)[0]
    </pre>
  </div>
  <div class="flex-row">
    <app-switch [control]="accepted" (toggle)="changeAccepted($event)" ></app-switch>
    <h5 class="ml-10px">I have read strategy and i understand the risks of launch this strategy on my account</h5>
  </div>
  <div class="flex-row between mt-10px">
    <button *ngIf="!showStrategy" class="anton-button" (click)="showStrategy = true">Show strategy description</button>
    <button *ngIf="showStrategy" class="anton-button" (click)="showStrategy = false">Hide strategy description</button>
    <app-button [loading]="loading"  (click)="runStrategyMarket()" class="mr-10px" [type]="'active'" [disabled]="!accepted.value">
        <ng-icon name="jam-play"></ng-icon>
        <span i18n>Play</span>
    </app-button>
  </div>

</div>
