
<div class="container mt-50px">
  <div class="main-container">
    <div class="check-container">
      <div class="check-background">
        <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <div class="check-shadow"></div>
    </div>
  </div>
  <div class="text-center">
    <h1 i18n>Congratulations!</h1>
    <h2 i18n>You have access to all Anton's features</h2>
  </div>
  <button [routerLink]="['/overview']" class="anton-button primary" style="margin-top: 50px">Go to my Dashboard</button>

</div>
