
.send-recovery-mail {
  a {
    font-size: 30px;
  }
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  padding: 35px;
  background: #fff;
}

form {
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
  }
}
