<!--div class="container">
  <div class="alert error" *ngIf="error" i18n>Error during authentication</div>
  <app-button [routerLink]="['/auth']" *ngIf="error" i18n>Back to login</app-button>

  <h1 *ngIf="!error" i18n>Connecting...</h1>
</div-->
<div class="container">
  <div class="body">
  <span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </span>
    <div class="base">
      <span></span>
      <div class="face"></div>
    </div>
  </div>
  <div class="longfazers">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <h1 *ngIf="!error" i18n>Connecting...</h1>
</div>
