@import "../../../styles/palette";

.menu-bar {
  width: 100%;
  max-height: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: $primary-color-dark;
}

.content {
  height: calc(100% - 70px);
  overflow: auto;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.container {
  background: #d2d2d2;
  height: 100%;
}
